h1 {
  color: white;
}

.window {
  /*background: rgb(12, 10, 10);*/
  background: white;
}

.sidebar {
  background: #74cfae;
}

.nav-group-item {
  color: black;
}

.nav-group-item.active, .nav-group-item:active{
  background-color: rgba(161, 213, 194, 0.96);
}

.card {
  margin: auto;
  width: 384px;
  border: 3px solid green;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}



h4 {
  text-align: center;
}

img {
  display: block;
  margin: auto;

  max-width: 340px;

}

#frame{
  padding: 10px;
  padding-bottom: 0px;
  margin: 0 auto;

}
#label {
  padding-left: 30%;
}

#title {
  margin-bottom: 0;
}

.btn .icon, .toolbar-header .title {
  margin-top: 3px;
}
#spot {
  padding: 2px;
  border-bottom: none;
}
