
.nav-group-item {
  font-family: 'Playfair Display', serif;
}

.nav-group-title {
  font-size: 15px;
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: bold;
}

h1 {
  color: white;

}


div.card-block {
  margin-top: 7%;
  margin-bottom: 7%;
}
.window {
  /*background: rgb(12, 10, 10);*/
  background: white;
}


select.form-control {
  margin-top: 5px;
  width: 80%;
  height: 10px;
  font-size: 14px;
}

#form {
  height: 20px;
  padding: 0;
  border: none;
}

.sidebar {
  background: #74cfae;
}

.nav-group-item {
  color: black;
}

.nav-group-item.active, .nav-group-item:active{
  background-color: rgba(161, 213, 194, 0.96);
}
.pane.main{
  background: black;
  padding-left: 10%;
  white-space: nowrap;

}



.card {
  float: left;
  margin-left: 10%;
  height: 1152px;
  width: 384px;
  border: 3px solid green;
  padding: 10px;
  padding-top, padding-bottom: 0;
  margin-top: 20px;
  margin-bottom: 20px;

}


#card1 {

  margin-left: 30%;
  /*margin-left: 35%, makes one, align in the center*/
}

#card2 {
  margin-left: 0;

  /*margin-left: 20px;*/
}
#card3 {
  margin-top: 0;
  margin-left: 10%;

}

#card4 {
  margin-top: 0;
  margin-left: 0;

}

div.hide {
  display: none;
}

li.hide {
  display: none;
}

.link-box, .popup-modal-dismiss a{
  color: white;
}

h4 {
  text-align: center;
}

img {
  display: block;
  margin: auto;

  max-width: 100%;
  min-height: 100%;

  /*max-height: 100%;*/
  /*250px*/
  /*max-width: 100%;*/
  /*346*/


}

li.list-group-item {
  width: 346px;
  height: 333px;
}

#frame{
  padding: 10px;
  padding-bottom: 0px;
  margin: 0 auto;

}
#label {
  padding-left: 30%;
}

#title {
  vertical-align: middle;
  text-align: center;
  font-size: 3.0rem;
  margin: 0 auto;
}



li.list-group-item {
  padding: 2px;
  border-bottom: none;
}

#down {
  margin: 10px;
  margin-left: 0;

}

#up {
  margin: 10px;

}




.btn .icon, .toolbar-header .title {
  margin-top: 3px;
}
.img-upload-btn {
    position: relative;
    overflow: hidden;
    padding-top: 95%;
}

.img-upload-btn input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img-upload-btn i {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

.btn-radio {
    position: relative;
    overflow: hidden;
}

.btn-radio input[type=radio] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#playfair {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}

select {
  font-family: inherit;
}
